# Arquivos e pastas do Jupyter Notebook
.ipynb_checkpoints/

# Arquivos temporários e cache do Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Pastas de ambiente virtual (se houver)
env/
venv/
ENV/
.venv/
.env/

# Arquivos de configuração locais
*.env
*.DS_Store
*.swp

# Arquivos de log e saídas
*.log
*.out
*.bak

# Arquivos do VS Code
.vscode/

# Arquivos do sistema operacional
Thumbs.db
.DS_Store